body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 340px;
    max-width: 35%;

}
header{
    padding: 25px;
    text-align: left;
    font-size: large;
    
}
header h1{
    font-size: 2em;
    margin: 0;
    color: rgb(6, 161, 140);
}
header h2{
    font-size: 1em;
    margin: 0;
    color: black;
}
.enca{
    font-size: 2em;
    margin: 0;
}
.tit{
    font-size: 3em;
    margin: 0;
    color: rgb(142, 142, 142);
}