body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 340px;
    max-width: 35%;

}
header{
    padding: 25px;
    text-align: left;
    font-size: large;
    
}
header h1{
    font-size: 2em;
    margin: 0;
}
